{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sections list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.thetitle }}</td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_section_new') }}">Create a new section</a>
        </li>
    </ul>
{% endblock %}
